<%= simple_form_for(@solicitacao) do |f| %>
  <% if @solicitacao.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@solicitacao.errors.count, "error") %> prohibited this solicitacao from being saved:</h2>

      <ul>
      <% @solicitacao.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :status %><br>
    <%= f.number_field :status %>
  </div>
  <div class="field">
    <%= f.label :data %><br>
    <%= f.datetime_select :data %>
  </div>
  <div class="field">
    <%= f.label :desconto %><br>
    <%= f.text_field :desconto %>
  </div>
  <div class="field">
    <%= f.label :pagamento %><br>
    <%= f.text_field :pagamento %>
  </div>
   <%= f.association :pessoa, :label_method => lambda { |pessoa| "#{pessoa.nome}" }%>

   <fieldset id="produtos"> 
    <ol> 
      <%= f.fields_for :produto_solicitados do |ff| %>
      <%= ff.input :quantidade %>
      <%= ff.association :produto, label_method: :nome, value_method: :id, include_blank: false %>

      <%= link_to_remove_association "remove", ff%>
      <% end %>
    </ol>
      <%= link_to_add_association 'Adicionar Produto', f, :produto_solicitados, 'data-association-insertion-node' => "#produtos ol", 'data-association-insertion-method' => "append"%> 
  </fieldset>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
