<div class="conteudo">
<h1>Solicitacoes</h1>

<div class="data">
<!--Form de busca-->
<%= form_tag solicitacoes_path, :method => 'get'  do %>
   <%= date_select :search, :begin_date %>
   <%= date_select :search, :end_date %>
   <%= submit_tag "Buscar" %>
 <% end %>
<!--/Form de busca-->
</div>


<table>
  <thead>
    <tr>
      <th>Status</th>
      <th>Data</th>
      <th>Desconto</th>
      <th>Pagamento</th>
      <th>Pessoa</th>
      <th>Itens/Quantidades<th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @solicitacoes.each do |solicitacao| %>
      <tr>
        <td><%= solicitacao.status %></td>
        <td><%= solicitacao.data %></td>
        <td><%= solicitacao.desconto %></td>
        <td><%= solicitacao.pagamento %></td>
        <td><%= solicitacao.pessoa.nome %></td>
        <td>
          <% solicitacao.produto_solicitados.each do |produto_solicitado| %>
          <%= produto_solicitado.produto.nome %>/<%= produto_solicitado.quantidade %>, 
          <% end %>
        </td>
        <td><%= link_to 'Show', solicitacao %></td>
        <td><%= link_to 'Edit', edit_solicitacao_path(solicitacao) %></td>
        <td><%= link_to 'Destroy', solicitacao, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Solicitacao', new_solicitacao_path %>
</div>
