<p id="notice"><%= notice %></p>

<p>
  <strong>Status:</strong>
  <%= @solicitacao.status %>
</p>

<p>
  <strong>Data:</strong>
  <%= @solicitacao.data %>
</p>

<p>
  <strong>Desconto:</strong>
  <%= @solicitacao.desconto %>
</p>

<p>
  <strong>Pagamento:</strong>
  <%= @solicitacao.pagamento %>
</p>

<p>
  <strong>Pessoa:</strong>
  <%= @solicitacao.pessoa.nome %>
</p>

<p>
  <strong>Itens/Quantidades:</strong>
    <% @solicitacao.produto_solicitados.each do |produto_solicitado| %>
      <%= produto_solicitado.produto.nome %>/<%= produto_solicitado.quantidade %>, 
      <% end %>
</p>

<%= link_to 'Edit', edit_solicitacao_path(@solicitacao) %> |
<%= link_to 'Back', solicitacoes_path %>
