<%= simple_form_for(@producao) do |f| %>
  <% if @producao.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@producao.errors.count, "error") %> prohibited this producao from being saved:</h2>

      <ul>
      <% @producao.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :data %><br>
    <%= f.datetime_select :data %>
  </div>
  <div class="field">
    <%= f.label :quantidade %><br>
    <%= f.number_field :quantidade %>
  </div>
  <%= f.association :produto, :label_method => lambda { |produto| "#{produto.nome}" }%>
  <fieldset id="materias-primas"> 
    <ol> 
      <%= f.fields_for :materia_utilizadas do |ff| %>
      <%= ff.input :quantidade %>
      <%= ff.association :materia_prima, label_method: :nome, value_method: :id, include_blank: false %>

      <%= link_to_remove_association "remove", ff%>
      <% end %>
    </ol>
      <%= link_to_add_association 'Adicionar Matéria-Prima', f, :materia_utilizadas, 'data-association-insertion-node' => "#materias-primas ol", 'data-association-insertion-method' => "append"%> 
  </fieldset>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
