<p id="notice"><%= notice %></p>

<p>
  <strong>Data:</strong>
  <%= @producao.data %>
</p>

<p>
  <strong>Quantidade:</strong>
  <%= @producao.quantidade %>
</p>

<p>
  <strong>Produto:</strong>
  <%= @producao.produto %>
</p>

<%= link_to 'Edit', edit_producao_path(@producao) %> |
<%= link_to 'Back', producoes_path %>
