<p id="notice"><%= notice %></p>

<p>
  <strong>Data:</strong>
  <%= @producao.data %>
</p>

<p>
  <strong>Quantidade:</strong>
  <%= @producao.quantidade %>
</p>

<p>
  <strong>Produto:</strong>
  <%= @producao.produto.nome %>
</p>

<p>
	<strong>Itens/Quantidades:</strong>
		<% @producao.materia_utilizadas.each do |materia_utilizada| %>
    	<%= materia_utilizada.materia_prima.nome %>/<%= materia_utilizada.quantidade %>, 
	    <% end %>
</p>

<%= link_to 'Edit', edit_producao_path(@producao) %> |
<%= link_to 'Back', producoes_path %>
