<%= simple_form_for(@compra_produto) do |f| %>
  <% if @compra_produto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@compra_produto.errors.count, "error") %> prohibited this compra_produto from being saved:</h2>

      <ul>
      <% @compra_produto.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :data %><br>
    <%= f.datetime_select :data %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.number_field :status %>
  </div>
  <div class="field">
    <%= f.label :pagamento %><br>
    <%= f.text_field :pagamento %>
  </div>

  <%= f.association :fornecedor, :label_method => lambda { |fornecedor| "#{fornecedor.nome}" }%>
   
  <fieldset id="produtos"> 
    <ol> 
      <%= f.fields_for :produto_comprados do |ff| %>
      <%= ff.input :quantidade %>
      <%= ff.association :produto, label_method: :nome, value_method: :id, include_blank: false %>

      <%= link_to_remove_association "remove", ff%>
      <% end %>
    </ol>
      <%= link_to_add_association 'Adicionar produto', f, :produto_comprados, 'data-association-insertion-node' => "#produtos ol", 'data-association-insertion-method' => "append"%> 
  </fieldset>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
