<p id="notice"><%= notice %></p>

<p>
  <strong>Data:</strong>
  <%= @compra_produto.data %>
</p>

<p>
  <strong>Status:</strong>
  <%= @compra_produto.status %>
</p>

<p>
  <strong>Pagamento:</strong>
  <%= @compra_produto.pagamento %>
</p>

<p>
  <strong>Fornecedor:</strong>
  <%= @compra_produto.fornecedor.nome %>
</p>

<p>


</p>
	<strong>Itens/Quantidades:</strong> 
	<% @compra_produto.produto_comprados.each do |produto_comprado| %>
    	<%= produto_comprado.produto.nome %>/<%= produto_comprado.quantidade %>, 
    <% end %>

<%= link_to 'Edit', edit_compra_produto_path(@compra_produto) %> |
<%= link_to 'Back', compra_produtos_path %>
