<%= simple_form_for(@compra_materia_prima) do |f| %>
  <% if @compra_materia_prima.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@compra_materia_prima.errors.count, "error") %> prohibited this compra_materia_prima from being saved:</h2>

      <ul>
      <% @compra_materia_prima.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :data %>
  <%= f.input :status %>
  <%= f.input :pagamento %>
  <%= f.association :fornecedor, :label_method => lambda { |fornecedor| "#{fornecedor.nome}" }%>
   
  <fieldset id="materias-primas"> 
    <ol> 
      <%= f.fields_for :materia_compradas do |ff| %>
      <%= ff.input :quantidade %>
      <%= ff.association :materia_prima, label_method: :nome, value_method: :id, include_blank: false %>

      <%= link_to_remove_association "remove", ff%>
      <% end %>
    </ol>
      <%= link_to_add_association 'Adicionar matéria-prima', f, :materia_compradas, 'data-association-insertion-node' => "#materias-primas ol", 'data-association-insertion-method' => "append"%> 
  </fieldset>
  <br>
  <%= f.button :submit %>
<% end %>
