<div class="conteudo">
<h1>Compra de Materias Primas</h1>

<table>
  <thead>
    <tr>
      <th>Data</th>
      <th>Status</th>
      <th>Pagamento</th>
      <th>Fornecedor</th>
      <th>Itens/Quantidades<th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @compra_materias_primas.each do |compra_materia_prima| %>
      <tr>
        <td><%= compra_materia_prima.data %></td>
        <td><%= compra_materia_prima.status %></td>
        <td><%= compra_materia_prima.pagamento %></td>
        <td><%= compra_materia_prima.fornecedor.nome %></td>
        <td>
          <% compra_materia_prima.materia_compradas.each do |materia_comprada| %>
          <%= materia_comprada.materia_prima.nome %>/<%= materia_comprada.quantidade %>, 
          <% end %>
        </td>
        <td><%= link_to 'Show', compra_materia_prima %></td>
        <td><%= link_to 'Edit', edit_compra_materia_prima_path(compra_materia_prima) %></td>
        <td><%= link_to 'Destroy', compra_materia_prima, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Compra materia prima', new_compra_materia_prima_path %>
</div>