<div class="nested-fields">
  <%= f.input :nome %>
  <%= f.input :codigo %>
  <%= f.input :descricao %>
  <%= f.input :quantidade %>
  <%= link_to_remove_association "remove item", f, :class => "btn btn-danger" %>
</div>