<div class="conteudo">
<h1>Telefones</h1>

<table>
  <thead>
    <tr>
      <th>DDD</th>
      <th>Numero</th>
      <th>Pessoa</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @telefones.each do |telefone| %>
      <tr>
        <td><%= telefone.ddd %></td>
        <td><%= telefone.numero %></td>
        <td><%= telefone.telefonavel.nome %>/<%= telefone.telefonavel_type%></td>
        <td><%= link_to 'Detalhes', telefone %></td>
        <td><%= link_to 'Editar', edit_telefone_path(telefone) %></td>
        <td><%= link_to 'Apagar', telefone, method: :delete, data: { confirm: 'Certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>