<p>
  <%= f.label :bairro, "Bairro" %></br>
  <%= f.text_field :bairro %></br>
  <%= f.label :cep, "CEP" %></br>
  <%= f.text_field :cep %></br>
  <%= f.label :cidade, "Cidade" %></br>
  <%= f.text_field :cidade %></br>
  <%= f.label :logradouro, "Logradouro" %></br>
  <%= f.text_field :logradouro %></br>
  <%= f.label :complemento, "Complemento" %></br>
  <%= f.text_field :complemento %></br>
  <%= f.label :estado, "Estado" %></br>
  <%= f.text_field :estado %></br>
  <%= f.label :numero, "Número" %></br>
  <%= f.text_field :numero %>
</p>