<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @pessoa.nome %>
</p>

<p>
  <strong>Cadastro:</strong>
  <%= @pessoa.cadastro %>
</p>

<p>
  <strong>Email:</strong>
  <%= @pessoa.email %>
</p>

<p>
  <strong>Juridico:</strong>
  <%= @pessoa.juridico %>
</p>

<p>
  <strong>Endereço:</strong>
  <%= @pessoa.endereco.logradouro %>, <%= @pessoa.endereco.numero %>, <%= @pessoa.endereco.cidade %>, <%= @pessoa.endereco.estado %>
</p>

<p>
  <strong>Telefone:</strong>
  (<%= @pessoa.telefone.ddd %>) <%= @pessoa.telefone.numero %>
</p>

<%= link_to 'Edit', edit_pessoa_path(@pessoa) %> |
<%= link_to 'Back', pessoas_path %>
