<h1>Transações com o Fornecedor</h1>

<table>
  <thead>
    Compras de Matéria-Prima feitas ao Fornecedor
    <tr>
      <th>Data</th>
      <th>Status</th>
      <th>Valor do Pagamento</th>
      <th>Itens da Compra</th>
    </tr>
  </thead>

  <tbody>
    <% @compras_materias_primas.each do |compra| %>
      <tr>
        <td><%= compra.data %></td>
        <td><%= compra.status %></td>
        <td><%= compra.pagamento %></td>
        <td>
          <% compra.materia_compradas.each do |item| %>
            -<%= item.materia_prima.nome %>,
            <%= item.quantidade %> unidade(s)
            <br>
          <% end %>
        </td>
        <td><%= link_to 'Detalhes', compra %></td>
        <td><%= link_to 'Editar', edit_compra_materia_prima_path(compra) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<table>
  <thead>
    Compras de Produto feitas ao Fornecedor
    <tr>
      <th>Data</th>
      <th>Status</th>
      <th>Valor do Pagamento</th>
      <th>Itens da Compra</th>
    </tr>
  </thead>

  <tbody>
    <% @compras_produtos.each do |compra| %>
      <tr>
        <td><%= compra.data %></td>
        <td><%= compra.status %></td>
        <td><%= compra.pagamento %></td>
        <td>
          <% compra.produto_comprados.each do |item| %>
            -<%= item.produto.nome %>,
            <%= item.quantidade %> unidade(s)
            <br>
          <% end %>
        </td>
        <td><%= link_to 'Detalhes', compra %></td>
        <td><%= link_to 'Editar', edit_compra_produto_path(compra) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

</div>