<h1>Fornecedores</h1>

<div class="data">
<!--Form de busca-->
<%= form_tag fornecedores_path, :method => 'get'  do %>
   <%= text_field_tag :search, params[:search]%>
   <%= submit_tag "Buscar", :nome => nil  %>
 <% end %>
<!--/Form de busca-->
</div>


<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Cnpj</th>
      <th>Email</th>
      <th>Endereço</th>
      <th>Telefone</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @fornecedores.each do |fornecedor| %>
      <tr>
        <td><%= fornecedor.nome %></td>
        <td><%= fornecedor.cnpj %></td>
        <td><%= fornecedor.email %></td>
        <td><%= fornecedor.endereco.logradouro %>, <%= fornecedor.endereco.numero %>, <%= fornecedor.endereco.cidade %>, <%= fornecedor.endereco.estado %></td>
        <td>(<%= fornecedor.telefone.ddd %>) <%= fornecedor.telefone.numero %></td>
        <td><%= link_to 'Detalhes', fornecedor %></td>
        <td><%= link_to 'Editar', edit_fornecedor_path(fornecedor) %></td>
        <td><%= link_to 'Apagar', fornecedor, method: :delete, data: { confirm: 'Certeza?' } %></td>
        <td><%= link_to 'Histórico', historico_fornecedor_path(fornecedor) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Fornecedor', new_fornecedor_path %>