<h1>Matérias-Primas</h1>

<div class="data">
<!--Form de busca-->
<%= form_tag materias_primas_path, :method => 'get'  do %>
   <%= text_field_tag :search, params[:search]%>
   <%= submit_tag "Buscar", :nome => nil  %>
 <% end %>
<!--/Form de busca-->
</div>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Código</th>
      <th>Descrição</th>
      <th>Quantidade</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @materias_primas.each do |materia_prima| %>
      <tr>
        <td><%= materia_prima.nome %></td>
        <td><%= materia_prima.codigo %></td>
        <td><%= materia_prima.descricao %></td>
        <td><%= materia_prima.quantidade %></td>
        <td><%= link_to 'Detalhes', materia_prima %></td>
        <td><%= link_to 'Editar', edit_materia_prima_path(materia_prima) %></td>
        <td><%= link_to 'Apagar', materia_prima, method: :delete, data: { confirm: 'Certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Materia prima', new_materia_prima_path %>
<div>
