<h1>Matérias-Primas</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Código</th>
      <th>Descrição</th>
      <th>Quantidade</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @materias_primas.each do |materia_prima| %>
      <tr>
        <td><%= materia_prima.nome %></td>
        <td><%= materia_prima.codigo %></td>
        <td><%= materia_prima.descricao %></td>
        <td><%= materia_prima.quantidade %></td>
        <td><%= link_to 'Detalhes', materia_prima %></td>
        <td><%= link_to 'Editar', edit_materia_prima_path(materia_prima) %></td>
        <td><%= link_to 'Apagar', materia_prima, method: :delete, data: { confirm: 'Certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova Matéria-Prima', new_materia_prima_path %>
