<div class="conteudo">
<h1>Produtos</h1>

<div class="data">
<!--Form de busca-->
<%= form_tag produtos_path, :method => 'get'  do %>
   <%= text_field_tag :search, params[:search]%>
   <%= submit_tag "Buscar", :nome => nil  %>
 <% end %>
<!--/Form de busca-->
</div>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Preço</th>
      <th>Codigo</th>
      <th>Descrição</th>
      <th>Quantidade</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @produtos.each do |produto| %>
      <tr>
        <td><%= produto.nome %></td>
        <td><%= produto.preco %></td>
        <td><%= produto.codigo %></td>
        <td><%= produto.descricao %></td>
        <td><%= produto.quantidade %></td>
        <td><%= link_to 'Detalhes', produto %></td>
        <td><%= link_to 'Editar', edit_produto_path(produto) %></td>
        <td><%= link_to 'Apagar', produto, method: :delete, data: { confirm: 'Certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Produto', new_produto_path %>
</div>
