<div class="conteudo">
<h1>Funcionarios</h1>

<div class="data">
<!--Form de busca-->
<%= form_tag funcionarios_path, :method => 'get'  do %>
   <%= text_field_tag :search, params[:search]%>
   <%= submit_tag "Buscar", :nome => nil  %>
 <% end %>
<!--/Form de busca-->
</div>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Cadastro</th>
      <th>Email</th>
      <th>Cargo</th>
      <th>Senha</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @funcionarios.each do |funcionario| %>
      <tr>
        <td><%= funcionario.nome %></td>
        <td><%= funcionario.cadastro %></td>
        <td><%= funcionario.email %></td>
        <td><%= funcionario.cargo %></td>
        <td><%= funcionario.senha %></td>
        <td><%= link_to 'Detalhes', funcionario %></td>
        <td><%= link_to 'Edit', edit_funcionario_path(funcionario) %></td>
        <td><%= link_to 'Destroy', funcionario, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Funcionario', new_funcionario_path %>
<div>
